/.idea/
/log/logging.log
/build/
/.gradle/
/src/main/resources/db/
/src/main/kotlin/de/itcr/termite/Test.kt
/.kotlin/

logging.log

/database/*
!/database/.gitkeep

/index/
!/index/.gitkeep

/.commit
